/* 
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
}

header{
    height: 10vh;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
    z-index: 999;
}

.nav-logo img{
    /* background-image: url('./Images/Logo-website.png'); */
    height: 3rem;
    width: 6rem;
    margin: 0.5rem 2rem;
    cursor: pointer;
}
/* nav{
    width: 100%;
    height: 10vh;
    background: white;
    color: #000;
    display: flex;
    justify-content: space-between;
} */

/* Hamburger Menu */

.menu-wrap{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

.menu-wrap .toggler{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}
 
.menu-wrap .hamburger{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    /* background: #666666; */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hamburger Lines */

.menu-wrap .hamburger > div{
    position: relative;
    width: 100%;
    height:2px;
    background-color: #6C63FF;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease-in-out;
}

/* Style for the top and bottom lines */

.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after{
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}

/* Moves line down */

.menu-wrap .hamburger > div:after{
    top: 10px;
}

/* Toggler Animate */

.menu-wrap .toggler:checked + .hamburger > div{
    transform: rotate(135deg);
}

/* Turns line into X */
.menu-wrap .toggler:checked + .hamburger > div::before,
.menu-wrap .toggler:checked + .hamburger > div::after{
    top: 0;
    transform: rotate(90deg);
}


/* Rotate when hover when checked */

.menu-wrap .toggler:checked:hover + .hamburger > div{
     transform: rotate(225deg);
}

/* show menu */
 .menu-wrap .toggler:checked ~ .menu{
    visibility: visible;
 }

 .menu-wrap .toggler:checked ~ .menu > div {
     transform: scale(1);
     transition-duration: var(--menu-speed);
 }

 .menu-wrap .toggler:checked ~ .menu > div > div{
     opacity: 1;
     transition: opacity 0.4s ease;
 }

.menu-wrap .menu{
     position: fixed;
     top: 0;
     right: 0;
     width: 100%;
     height: 100%;
     visibility: hidden;
     overflow: hidden;
     display: flex;
     align-items: center;
     justify-content: center;
}

.menu-wrap .menu > div{
    background-color: rgb(20, 19, 19);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition:  all 0.4s ease;
}

.menu-wrap .menu > div > div{
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity  0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 3rem;
    padding: 1rem;
    font-weight: bolder;
}

.menu-wrap .menu > div > div > ul > li > a{
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}
.menu-wrap .menu > div > div > ul > li > a:hover{
    color: #6C63FF;
}


/* nav .mainMenu{
    display: flex;
    list-style: none;
    padding: 0.5rem 5rem;
}

nav .mainMenu li a{
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color: #000;
    font-size: 0.9rem;
    font-weight: 700;
    outline: none;
    border: none;
    font-family: 'Raleway', sans-serif;
}

 nav .mainMenu li a:hover{
    color: grey;
}

.cool-link-two::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #6C63FF;
    margin: 2px 0;
    transition: width 0.5s ease-in-out;
}


.cool-link-three:hover::after{
    width: 100%;
    transition: width 0.5s;
}

nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}

nav .mainMenu .closeMenu, .icons i{
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

.fa-facebook:hover{
    color: rgb(1, 86, 197);
}

.fa-twitter:hover{
    color: rgb(117, 172, 243);
}

.fa-instagram:hover{
    color: rgb(214, 26, 26);
}

.fa-github:hover{
    color: rgb(197, 96, 1);
}

nav .logo{
    padding: 0.5rem 5rem;
    cursor: pointer;
}

nav .logo img{
    height: 3.5rem;
    width: 7rem;
} */

.grid-landing{
    height: 90vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid-landing .grid-left h1{
    color: black;
    font-size: 4rem;
    padding-top: 10rem;
    padding-left: 6rem;
    font-family: 'Raleway', sans-serif;
}

.grid-landing .grid-left .btn-started{
    text-align: center;
    height: 3.5rem;
    width: 12rem;
    border-radius: 10px;
    border: 2px solid #6C63FF;
    outline: none;
    background-color: transparent;
    font-family: 'Raleway',sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 3rem 15rem;
    cursor: pointer;
    transition: all 0.7s ease;

}

.grid-landing .grid-left .btn-started:hover{
    background-color: #6C63FF;
    color: white;
}

.grid-landing .grid-left h2{
    color: black;
    font-size: 1.2rem;
    padding: 2rem 8rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.grid-landing .grid-left .highlight{
    color: #6C63FF;
}

.grid-landing .grid-right{
    background: url('./Images/Noted.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 8rem;
}

.next-step{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem;
    /* justify-content: center;
    align-items: center;
    text-align: center; */
}

.next-step .next-step-abstract{
    background: url('./Images/abstract4.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.next-step .tips .emoji-color{
    color: #6C63FF;
}

.next-step .tips h1{
    font-family: 'Bodoni Moda', serif;
    font-size: 5rem;
    font-weight: lighter;
    padding-top: 5rem;
    color: rgb(26, 25, 25);
}

.next-step .tips h2{
    font-size: 1.5rem;
    padding-top: 0.7rem;
}

.quote{
    width: 100%;
    height: 20vh;
    background-color: #908bf8;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.quote .quote-font{
    font-size: 3rem;
}

.quote h1{
    font-family: 'Bodoni Moda', serif;
    font-size: 1.3rem;
    font-weight: lighter;
    color: #fff;
}

.how-to{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem; 
    width: 100%;
    height: 100vh;
}

.how-to .how-to-text h1{
    font-family: 'Bodoni Moda', serif;
    font-size: 5rem;
    font-weight: lighter;
    padding-top: 8rem;
    padding-left: 6rem;
}

.how-to .how-to-text h2{
    font-size: 1.3rem;
    padding-top: 1rem;
    padding-left: 10rem;
    /* text-align: center; */
}

.how-to .how-to-abstract{
    background: url('./Images/abstract5.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.how-to .how-to-text .how-to-emoji{
    color: #6C63FF;
}

footer{
    width: 100%;
    height: 100vh;
    background-color: rgb(20, 19, 19);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

footer h1{
    font-size: 4rem;
    padding-top: 10rem;
    color: white;
}

footer .footer-quote-color{
    color: #6C63FF;
}

footer h2{
    margin-bottom: 4rem;
    color: white;
    font-weight: bold;
}

footer h3{
    font-size: 0.8rem;
    color: white;
    font-weight: bold;
}

footer h4{
    padding-top: 2rem;
    font-size: 1rem;
    color: white;
    font-weight: bold;
}

footer nav{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 8rem;
}

footer nav .sublinks,
footer nav .social,
footer nav .tag{
    padding: 0 5rem;
}


footer nav .sublinks a{
    text-decoration: none;
    color: white;
    padding: 0.7em;
    font-size: 0.9rem;
    transition: color 0.7s ease;
}

footer nav .tag a{
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    transition: color 0.7s ease;
}

footer nav .social a{
    text-decoration: none;
    color: white;
    padding: 0.7em;
    font-size: 0.9rem;
    transition: color 0.7s ease;
}

footer nav .social a:hover,
footer nav .sublinks a:hover{
    color: #6C63FF;
}


/* About US Page Style */


/* Template Page Style */

.heading{
    height: 15vh;
    width: 100%;
    background: #6C63FF;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading h1{
    font-size: 4rem;
    font-weight: lighter;
    font-family: 'Bodoni Moda', serif;
}

/* .grid-templates{
    height: 79.5vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: green;
    grid-gap: 2rem;
    margin: 4rem 5rem;

}

.grid-templates .grid-first{
    background: url('./Images/Template1.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 5rem;
    cursor: pointer;
    background: rgba(132, 120, 240, 0.19);
}

.grid-templates .grid-first p:hover::before{
    content:'';
    color: red;
}

.grid-templates .grid-second{
    background: url('./Images/Template1.jpg');
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.grid-templates .grid-third{
    background: url('./Images/Template1.jpg');
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
} */


/* Testing Hovers of Templates */

.team-area{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 4rem;
}

.single-team{
    width: 400px;
    height: 550px;
    padding: 24px;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transition: 0.6s ease-out;
    box-shadow:  0 10px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.single-team:hover{
    transform: translateY(15px);
}

.single-team:hover::before{
    opacity: 1;
}

.single-team:hover .team-text{
    opacity: 1;
    transform: translateY(0);
}

.single-team::before{
    content:'';
    position: absolute;
    top:0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #000, transparent);
    z-index: 2;
    transition: 0.2s;
    opacity: 0;
}

.single-team img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* object-fit: cover; */
}

.single-team .team-text{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(60px);
    transition: 0.5s ease;
}

.single-team .team-text h2{
    padding: 0.8rem 0;
}

.team-area .single-team .team-text .btn{
    height: 3rem;
    width: 8rem;
    outline: none;
    border: 1px solid white;
    background: transparent;
    color: white;
    cursor: pointer;
    margin: 1rem auto;   
    font-size: 1.5rem;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.team-area .single-team .team-text .btn:hover{
    background: #6C63FF;
}

/* Contact Page Design */

.contact{
    width: 100%;
    height: 15vh;
    background: #6C63FF;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .contact-heading{
    font-size:4rem;
    font-family: 'Bodoni Moda', serif;
    color: rgb(19, 19, 19);
}

.contact .contact-heading h1{
    font-weight: lighter;
}

.contact-form{
    width: 100%;
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
}

.contact-form .grid-abstract{
    background: url('./Images/abstract-contact.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.contact-form .cont-form{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

/* .contact-form .cont-form form{
    box-sizing: border-box;
} */

.contact-form .cont-form form input{
    width: 25rem;
    height: 2rem;
    padding: 1rem;
    margin-top: 1.5rem;
    outline: none;
    border: none;
    border-bottom: 3px solid #6C63FF;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.contact-form .cont-form form textarea{
    padding: 1rem;
    margin-top: 1rem;
    background: rgba(53, 51, 51, 0.164);
    outline: none;
    border: none;
    border-bottom: 3px solid #6C63FF;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

    .contact-form .cont-form form .btn-form {
        height: 3rem;
        width: 8rem;
        outline: none;
        border-radius: 10px;
        border: 2px solid #6C63FF;
        background: transparent;
        color: black;
        margin: 1rem 9rem;
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        font-weight: bolder;
        font-size: 1.2rem;
        transition: all 0.6s ease;
    }

    .contact-form .cont-form form .btn-form:hover{
        background: #6C63FF;
        color: #fff;
    }























/* Media Query */

/* @media (max-width: 800px){
    nav .mainMenu{
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #fff;
        transition: top 1s ease;
        display: none;
    }

    nav .mainMenu .closeMenu{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    nav .openMenu{
        display: block;
    }

    nav .mainMenu li a{
        padding: 3rem 0;
        font-size: 2rem;
    }

    nav .mainMenu li a:hover{
        background: none;
        color:rgb(255, 123, 0);
        font-size: 2.1rem;
    }

    .icons i{
        display: inline-block;
        padding: 12px;
    }

} */